.cards {
  padding: 4rem;
  background: rgb(230, 225, 225);
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  /* background-color: #1f98f4; */
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.maxprofile {
  border-color: black;
  padding-bottom: 50px;
  position: relative;
  margin: 50px 0 45px;
}

.maxpic {
  width: 500px;
  border-radius: 20px 20px 20px 20px;
}

.cards__item__img1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 250px;

  height: 90%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  border-radius: 20px 20px 20px 20px;
}

.cards__item__info1 {
  float: left;
}

.cards__item__text1 {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.paragraph {
  text-align: left;
  float: right;
  width: 48%;
  padding: 40px;
  padding-left: 10px;
  padding-right: 70px;

  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.quote {
  text-align: center;
  float: left;
  width: 120%;
  padding: 40px;
  padding-left: 10px;
  padding-right: 70px;

  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.quote1 {
  text-align: center;
  float: left;
  width: 120%;
  padding: 40px;
  padding-left: 10px;
  padding-right: 70px;
  margin-top: -50px;
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}
.header {
  text-align: center;
  margin-bottom: 2rem;
}

@media only screen and (min-device-width: 390px) and (max-width: 884px) {
  .paragraph {
    width: 100%;
    display: inline-block;
    

    margin-bottom: -1rem;
  }

  .maxpic {
    width: 94%;
    border-radius: 20px 20px 20px 20px;
  }
  .quote {
    
    margin-left: -40%;

    margin-bottom: -1rem;
    margin-top: 4px;
  }
  .quote1 {
    
    display: flex;
    margin-left: -40%;

    margin-top:-70px;
  }
}

/* iphone se */
@media only screen and (min-device-width: 375px) and (max-width: 667px) {
  .paragraph {
    text-align: left;
    float: right;
    width: 90%;
    padding: 40px;
    padding-left: 10px;

    color: #252e48;
  }

  .maxpic {
    width: 84%;
    margin-left: 10%;
    border-radius: 20px 20px 20px 20px;
  }
  .quote {
    
    
    margin-left: 50%;
    
    margin-bottom: -20rem;
  }

  .quote1 {
    

    margin-left: -50%;

    margin-bottom: 10rem;
    color: rgb(10, 9, 9);
  }

  .cards {
    padding: 4rem;
    float: center;

    background: rgb(230, 225, 225);
  }
}

@media only screen and (min-device-width: 414px) and (max-width: 896px) {
  .maxpic {
    width: 84%;
    margin-left: 10%;
    border-radius: 20px 20px 20px 20px;
  }

  .paragraph {
    text-align: left;
    float: right;
    width: 90%;
    padding: 40px;
    padding-left: 10px;

    color: #252e48;
  }

  .quote {
    margin-left: 40%;
    margin-right: 90%;
    margin-top: 30%;
  }

  .quote1{
    margin-left: -25%;
  }

  /* .quote1 {
     text-align: right;
    float: right;
    width: -70%; 
    margin-left: -90%;
    margin-right: 30%;
    margin-top: 30%;
    text-align: center;
  } */
}

 /* galaxy +8 & iphone 12 pro  */
@media only screen and (min-device-width: 360px) and (max-width: 740px) {
  .maxpic {
    width: 84%;
    margin-left: 10%;
    border-radius: 20px 20px 20px 20px;
  }

  .paragraph {
    text-align: left;
    float: right;
    width: 90%;
    padding: 40px;
    padding-left: 10px;

    color: #252e48;
  }
}
/* ipad mini */
@media only screen and (min-device-width: 820px) and (max-width: 1180px) {
  .quote {
    margin-left: -29%;
    margin-top: 5%;
  }

}
/* ipad air */
@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .quote {
    margin-left: -29%;
    margin-top: 5%;
  }

}
 /* surface pro 7 */
@media only screen and (min-device-width: 912px) and (max-width: 1368px) {
  .quote {
    margin-left: 0;
    margin-top: 5%;
  }

  .paragraph {
    text-align: left;
    margin-right: 10%;
    width: 90%;
    padding: 40px;
    padding-left: 10px;

    color: #252e48;
  }

}

/* surface duo */
@media only screen and (min-device-width: 540px) and (max-width: 720px) {
  .quote {
    margin-left: 0;
    margin-bottom: -6%;
    position: flex;;
  }

  .quote1 {
    margin-left: 0;
    margin-top: 5%;
  }

  .paragraph {
    text-align: left;
    margin-right:0;
    width: 90%;
    padding: 40px;
    padding-left: 10px;

    color: #252e48;
  }

}


@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
