.cards {
  padding: 4rem;
  background: rgb(230, 225, 225);
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  /* background-color: #1f98f4; */
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.maxprofile {
  border-color: black;
  padding-bottom: 50px;
  position: relative;
  margin: 50px 0 45px;


}

.maxpic {
  width: 500px;
  border-radius: 20px 20px 20px 20px;

}

.cards__item__img1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  width: 250px;

  height: 90%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
  border-radius: 20px 20px 20px 20px;

}

.cards__item__info1 {
  float: left;

}

.cards__item__text1 {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;



}

.paragraph {
 
  text-align: left;
  float: right;
  width: 48%;
  padding: 40px;
  padding-left: 10px;
  padding-right: 70px;

  color: #252e48;
  font-size: 18px;
  line-height: 24px;

}

.quote{
  text-align: center;
  float: left;
  width: 120%;
  padding: 40px;
  padding-left: 10px;
  padding-right: 70px;

  color: #252e48;
  font-size: 18px;
  line-height: 24px;

}

.quote1
{
  text-align: center;
  float: left;
  width: 120%;
  padding: 40px;
  padding-left: 10px;
  padding-right: 70px;
margin-top: -50px;
  color: #252e48;
  font-size: 18px;
  line-height: 24px;

}
.header{
  text-align: center;
  margin-bottom: 2rem;
}


@media only screen and (min-device-width: 390px) and (max-width:884px) {
  .paragraph {
    width: 100%;
    display: flex;
    margin-bottom: -1rem;
  
  }

  .maxpic {
    width: 300px;
    border-radius: 20px 20px 20px 20px;

  }
  .quote {
    width: 150%;
    display: flex;
    margin-bottom: -1rem;
  
  }
}


/* iphone se */
@media only screen and (min-device-width: 375px) and (max-width:667px) {

  .paragraph {
    width: 100%;
    
    text-align: center;
    
    /* display: flex; */
    margin-bottom: -1rem;
  
  }

  .maxpic {
    width: 84%;
    margin-left: 8%;
    border-radius: 20px 20px 20px 20px;

  }
  .quote {
    width: -10%;
    display: flex;
    margin-left: 60%;
    margin-bottom: 20px;
    margin-bottom: -20rem;
  
  }

  .quote1 {
    width: 10%;
   
    margin-right: -10%;
   
    margin-bottom: 10rem;
    color: red;
  
  }

  .cards {
    padding: 4rem;
    float: center;
    
    background: rgb(230, 225, 225);
  }
 

}



@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }



}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }


}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }


}