.socialstyle {
  margin-top: 15px;
  margin-left: 36%;
  padding: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.socialstyleinst {
  margin-top: -11%;
  margin-left: 32%;
  padding: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

/* .socialstyle{
    display: table-row;
    float: center;
    width: 90%;
    margin-top: 40px;
    margin-left: 20px;
    padding: 40px;
    padding-left:20px;
    padding-right: 20px;
    border-radius: 50px;
  } */

.socialtext {
  margin-top: 10%;
  text-align: center;
}

@media only screen and (min-device-width: 375px) and (max-width: 667px) {
  .socialstyle {
    display: flex;
    float: center;
    width: 90%;
    margin-top: 40px;
    margin-left: 20px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
  }
}

@media only screen and (min-device-width: 414px) and (max-width: 896px) {
  .socialstyle {
    display: flex;
    float: center;
    width: 90%;
    margin-top: 40px;
    margin-left: 20px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
  }
}

@media only screen and (min-device-width: 390px) and (max-width: 844px) {
  .socialstyle {
    display: flex;
    float: center;
    width: 90%;
    margin-top: 40px;
    margin-left: 20px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
  }
}

@media only screen and (min-device-width: 360px) and (max-width: 740px) {
  .socialstyle {
    display: flex;
    float: center;
    width: 90%;
    margin-top: 40px;
    margin-left: 20px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
  }
}



@media only screen and (min-device-width: 820px)  {
  .socialstyle {
    margin-top: 15px;
    margin-left: 20%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .socialstyleinst {
    margin-top: -6%;
    margin-left: 32%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media only screen and (min-device-width: 768px)  {
  .socialstyle {
    margin-top: 15px;
    margin-left: 20%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .socialstyleinst {
    margin-top: -6%;
    margin-left: 32%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-device-width: 912px)  {
  .socialstyle {
    margin-top: 15px;
    margin-left: 20%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .socialstyleinst {
    margin-top: -18%;
    margin-left: 55%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* tablets */
/* @media only screen and (min-device-width: 820px) and (max-width: 1180px) {
  .socialstyle {
    margin-top: 15px;
    margin-left: 20%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .socialstyleinst {
    margin-top: -6%;
    margin-left: 32%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .socialstyle {
    margin-top: 15px;
    margin-left: 20%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .socialstyleinst {
    margin-top: -6%;
    margin-left: 32%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-device-width: 912px) and (max-width: 1368px) {
  .socialstyle {
    margin-top: 15px;
    margin-left: 20%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .socialstyleinst {
    margin-top: -18%;
    margin-left: 55%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-device-width: 280px) and (max-width: 653px) {
  .socialstyle {
    margin-top: 15px;
    margin-left: 0%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .socialstyleinst {
    margin-top: -55%;
    margin-left: 55%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-device-width: 412px) and (max-width: 914px) {
  .socialstyle {
    margin-top: 15px;
    margin-left: 0%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .socialstyleinst {
    margin-top: -10%;
    margin-left: 45%;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
} */


